/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /**
    * The default font size on most browsers is 16px.
    * To respect users font preference we have to use percentages.
    * In this case, we want to use 10px as base
    * o, to get the percentage we should do 10/16 which is = to 0.625
    */
    // This defines what 1 rem is - 0.625*10
    font-size: 62.5%;
}

body {
    /* So border are not being added to the total width or height */
    box-sizing: border-box;
}
