@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
    0       to      600px:      Phone
    600     to      900px:      Tablet portrait
    900     to      1200px:     Tablet landscape
    1200    to      1800px:     Is where our normal styles apply
    1800    to      +           Big desktop
*/

/**
* $breakpoint argument choices:
* - phone
* - tablet-portrait
* - tablet-landscape
* - big-desktop

// ORDER WHEN MAKING A WEB RESPONSIVE:
// Base + typography, then general layout + grid, then pages + components

It's always better to use em in media queries.
As rem will not be affected by our root font-size, and it will always use 16px as base,
instead of 10px, which is the value that we've set.

1em = 16px

*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        // Up to 600px
        @media (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == tablet-portrait {
        // Up to 900
        @media (max-width: 56.26em) {
            @content;
        }
    }
    @if $breakpoint == tablet-landscape {
        // Up to 1200
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        // 1800px or +
        @media (min-width: 112.5em) {
            @content;
        }
    }
}
