// Typography
$base-font-family: "Lato", sans-serif;
$default-font-size: 1.6rem;

// COLORS
$color-white: white;
$color-black: black;

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-danger-light: #ffb900;
$color-danger-dark: #ff7730;

$color-info-light: #2998ff;
$color-info-dark: #5643fa;

$color-light-gray: #eee;
$color-light-gray-1: #f7f7f7;

$color-gray-dark: #777;
$color-gray-dark-2: #999;

// BORDERS
$border-radius-small: 3px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
