.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        // By default, browsers are not setting the font-family that we have in the body, so we have to be explicit
        font-family: inherit;
        // Same for color
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: none;
        // Initial state. So when we focus an input, the input after doesn't move down
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

        &:focus {
            // This disables the default blue border
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-danger-dark;
            }
        }

        // Only works in safari and chrome
        &::-webkit-input-placeholder {
            color: $color-gray-dark-2;
        }
    }

    &__label {
    }
}
