* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
}

.container {
  margin: 20vh 30vw;
  @media only screen and(max-width: $desktop) {
    margin: 20vh 20vw;
  }
  @media only screen and(max-width: $tablet) {
    margin: 20vh 10vw;
  }
  @media only screen and(max-width: $phone) {
    margin: 20vh 10vw;
  }
}
