// Typography
$base-font-family: "Karla", sans-serif;
$default-font-size: 1rem;

// COLORS
$white: white;

$bg-color: #e6eff6;

$primary: hsl(179, 62%, 43%);
$light-primary: hsl(179, 51%, 51%);
$secondary: hsl(71, 73%, 54%);

$gray: hsl(218, 22%, 67%);
$light-gray: #d3dcdc;
$lighter-gray: #c3e6e7;
$gray-blue: rgb(181, 226, 228);

// BREAKPOINTS
$phone: 40rem; // 640px

// SHADOWS
$box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
