.coming-soon {
  display: flex;
  flex-direction: column;

  margin: 5rem;

  &__logo {
    margin-bottom: 8rem;
  }

  &__title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 2rem;

    &--red {
      font-weight: 300;
      color: $desaturated-red;
    }
  }

  &__text {
    margin: 2rem;
    color: $desaturated-red;
    font-weight: 600;
    word-spacing: 0.2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 70%;
  }

  &__input {
    border: none;
    padding: 1rem 2rem;
    width: 100%;
    border: 1px solid $desaturated-red;
    border-radius: 100px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $desaturated-red;
    }
  }
}
