.hero {
  background-image: url(../../images/hero-desktop.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /*
  * This is what makes the background image rescale based
  * on the container's size
  */
  background-size: cover;
  flex: 0 0 40%;
}
