.priceBox {
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow;

  background-color: $white;
  border-radius: 8px;
  overflow: hidden;

  &__title {
    &--primary {
      color: $primary;
    }
    margin-bottom: 1rem;
  }

  &__subtitle {
    &--secondary {
      color: $secondary;
    }
    margin-bottom: 0.6rem;
  }

  &__main-text {
    line-height: 1.6rem;
  }

  &__main,
  &__left,
  &__right {
    padding: 2.5rem;
  }

  &__main {
    color: $gray;
    font-weight: 700;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    color: $white;
  }

  &__left {
    flex: 1;
    background-color: $primary;
  }

  &__right {
    flex: 1;
    background-color: $light-primary;
  }

  &__price-box {
    display: flex;
    align-items: center;
  }

  &__access {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  &__price {
    display: inline-block;
  }

  &__per-month {
    margin-left: 1rem;
    color: $lighter-gray;
  }

  &__why-text {
    color: $lighter-gray;
    padding-right: 3rem;
  }
}
