/* Variables */
:root {
  --h1-font-size: 50px;
}


* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--h1-font-size);
}

nav.nav-container {
  display: flex;
  justify-content: space-around;
  border: 5px solid aquamarine;
}
.nav-item {
  border: 5px solid cadetblue;
  margin: 10px;
  width: 50%;
}