.row {
  max-width: $grid-width;
  background-color: $color-light-gray;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  /** 2 */
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-2-of-2 {
    width: 100%;
  }

  /** 3 */
  .col-1-of-3 {
    // We decrease 2 times the gutter, as there are 2 gutters
    width: calc((100% - (#{$gutter-horizontal} * 2)) / 3);
  }

  .col-2-of-3 {
    // col-1-of-3 multiplied by 2 plus the gutter
    width: calc(((100% - (#{$gutter-horizontal} * 2)) / 3) * 2 + #{$gutter-horizontal});
  }

  .col-3-of-3 {
    width: 100%;
  }

  /** 4 */
  .col-1-of-4 {
    // We decrease 3 times the gutter, as there are 3 gutters
    width: calc((100% - (#{$gutter-horizontal} * 3)) / 4);
  }

  .col-4-of-4 {
    width: 100%;
  }
}